h1 {
    font-family: 'Oswald', san-serif;
    font-size: 5rem;
    color: #fff;
    text-align: center;
    text-shadow: 
        0 0 10px #a9a9a9,
        0 0 20px #a9a9a9,
        0 0 30px #a9a9a9,
        0 0 40px #a9a9a9,
        0 0 50px #a9a9a9,
        0 0 75px #a9a9a9;
    position: relative;
    transition: transform 0.1s ease-out;
}
